
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title><%=  title %></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css"  crossorigin="anonymous">

  </head>

  <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
                <a class="navbar-brand" href="/">iTutor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
          
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="/contact">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    
                  </ul>
                  <% if(!user) {%>
                  <ul class="nav justify-content-end">
                    <li class="nav-item ">
                      <a class="nav-link " href="/login">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/register">Register</a>
                      </li>
                  </ul>
                  
                  <% }else{ %>

                    
                    <ul class="nav justify-content-end">

                      
                        <img style="border-radius: 50%;border:2px solid white" src="<%= user.profile.picture %>" width="50" height="50" >
                            
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navbar-brand" id="dropdown0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= user.profile.name %></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown0">
                              <a class="dropdown-item" href="/logout">Logout</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>

                      </li>
                
                    </ul>
                    
                  <%}%>
                  
                </div>
              </nav>
              <main role="main" class="container">


                  <% if(errors) {%>
                    <% errors.forEach((error)=>{  %>
                      <div class="alert alert-danger">
                        <%= error.msg %>
                      </div>
                    <%})%>
                  <%}%>